<div *ngIf="node" [style.padding-left]="getPadding()">
  <span class="nodeSpan">
    <span class="UISpan">
      <span (click)="extend()"
            [class]="node.children ?  node.children.length == 0 ? 'glyphicon glyphicon-minus' : extended ?
            'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-minus'"></span>
      <input type="checkbox" (click)="onNodeSelected()" [(ngModel)]="node.selected"/>
      <input *ngIf="node.children.length > 0" type="checkbox" [(ngModel)]="node.childSelected">
    </span>
    <span (click)="changePicWithMouse()" class={{classString}}></span>
      <a *ngIf="!changing" href="#" [innerHTML]="node.name" onclick="return false" class="nodeText" #nodeText></a>
      <input type="text" [hidden]="!changing" class="nodeTextInput" [value]="node.name"
             (keydown)="onKeyDown($event)" (blur)="saveNodeChange()" #nodeTextInput/>
    <div class="btn-group">
      <span class="glyphicon glyphicon-triangle-bottom dropdown-toogle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="dropdown-menu">
        <li><a href="#">Eintrag löschen</a></li>
        <li (click)="editNode()"><a>Eintrag ändern</a></li>
        <li (click)="addNode()"><a>Eintrag hinzufügen</a></li>
        <li><a>Symbol ändern</a></li>
      </ul>
    </div>
  </span>
</div>

<template [ngIf]="node.children && extended">
  <co-tree-node *ngFor="let child of node.children" [node]="child" [level]="level + 1"></co-tree-node>
</template>
